.done-box-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 2rem;
}

.done-box-container .done-box {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: rgba(255,255,255,0.9);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-size: .5rem;
  line-height: .5rem;
}