.done-box-container {
  position: absolute;
  left: 50%;
  top: 50%;
  right: 50%;
  bottom: 50%;
  z-index: 10;
  transition: all ease-out 1s;
}

.done-box-container.in {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
}

.done-box-container .done-box {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  font-size: .5rem;
  line-height: .5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  opacity: 0;
  transition: all ease-out 1s;
}

.done-box-container.in .done-box {
  position: relative;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.done-box-container .done-box .done-box-inner {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33.3% 33.4% 33.3%;
  align-items: center;
  grid-template-areas: 
    "cards matches"
    "success fail"
    "time time";

  text-align: center;
  color: #fff;
}

.done-box-container .done-box .close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1rem;
  color: #fff;
  opacity: .5;
  transition: opacity .5s;
}

.done-box-container .done-box .close-icon:hover {
  opacity: 1;
  cursor: pointer;
}