.container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  grid-template-areas: "menu cards";
  width: 100vw;
  height: 100vh;
  padding: 2rem;
}

@media screen and (orientation: portrait) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: 30% 70%;
    grid-template-areas: "menu" "cards";
  }
}