.input-container {
  padding: 1rem;
}

.input-container label {
  display: block;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.input-container input {
  width: 3rem;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  border: none;
  outline: none !important;
  -moz-appearance:textfield;
}

.input-container input::-webkit-inner-spin-button,
.input-container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-container .icon {
  color: #cc7333;
  opacity: 0.7;
  transition: opacity .4s ease-in-out;
}

.input-container .icon:hover {
  opacity: 1;
  cursor: pointer;
}