.input-container {
  padding: 1rem;
}

.input-container label {
  display: block;
  font-size: 0.5rem;
  line-height: 0.5rem;
  text-transform: uppercase;
}

.input-container input {
  width: 3rem;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  border: none;
  outline: none !important;
  -moz-appearance:textfield;
}

.input-container input::-webkit-inner-spin-button,
.input-container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-container .icon {
  opacity: 0.5;
}

.input-container .icon:hover {
  opacity: 1;
  cursor: pointer;
}