.menu-container {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .menu-container {
    flex-direction: row;
  }
}

.menu-container .btn {
  margin-top: 1rem;
}

.menu-container .stat {
  padding: 1rem;
}

.menu-container .progress-container {
  height: .3rem;
  margin-bottom: 5px;
  background-color: #f4f4f4;
}

.menu-container .progress {
  height: 100%;
  background-color: #33cc3b;
  transition: width ease-in-out 0.4s;
}