.progress-container {
  height: .3rem;
  margin-bottom: 5px;
  background-color: #f4f4f4;
}

.progress-container .progress {
  height: 100%;
  background-color: #36c;
  transition: width ease-in-out 0.4s;
}