
button {
  display: block;
  width: 100%;
  padding: .4rem .6rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  appearance: none;
  opacity: 1;

  background: #3dd28d;
}

button:hover {
  opacity: .85;
}

button:active {
  transition: all 150ms linear;
  opacity: .75;
}

button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

button[disabled] {
  background: #f4f4f4 !important;
  opacity: 1 !important;
  cursor: not-allowed;
}